html {
  box-sizing: border-box;
}
/* :root {
  --border:2px solid black;
  --size:70px;
} */
*::before,
*::after {
  box-sizing: inherit;
}
ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
  display: block;
}
.container {
  width: 25px;
  position: relative;
  display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
    background: grey;
      box-shadow: 2px 1px 10px 1px black;
}
.container:hover .list {
  transform: translate(-100px);
  transition: transform 350ms cubic-bezier(0, -0.02, 1, 1);
}
.title {
  text-transform: uppercase;
    background-color: grey;
    /* transform: rotate(90deg); */
    margin-top: 50px;
writing-mode: vertical-lr;
}
li {
  /* text-align: center; */
  padding-bottom: 10px;
  padding-left: 25%;
}
.list {
  background-color: grey;
  width: 250px;
      height: 450px;
  position: absolute;
  left: 100px;
  /* top: 20px; */
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translate(-600px);
    transition: transform 350ms cubic-bezier(0, -0.02, 1, 1);
    box-shadow: 2px 1px 10px 1px black ;
    
}

.list-item {
  position: relative;
  width: 400px;
}
.item-list {
  display: none;
  position: absolute;
  background-color: grey;
  padding-top: 20px;
}
.list-link {
  text-transform: uppercase;
  transition: color 400ms cubic-bezier(.17, .67, .83, .67);
 
}
.list-link:before {
}
.list-link:hover,
.list-link:focus {
  color: orange;
}
.list-item:hover .item-list {
  display: block;
}
/* .list-link:hover,
.list-link:focus {
    color: orange;
} */
