html {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}
.container {
  width: 100px;
  position: relative;
  display: flex;
    justify-content: center;
    align-items: center;
    height: 950px;
    background: grey;
}
.container:hover .list {
  transform: translate(-100px);
}
ul {
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
  color: white;
  display: block;
}

.title {
  text-transform: uppercase;
    background-color: grey;
    transform: rotate(90deg);
    margin-top: 50px;

}
li {
  text-align: center;
  padding-bottom: 10px;
}
.list {
  background-color: grey;
  width: 400px;
      height: 950px;
  position: absolute;
  left: 100px;
  /* top: 20px; */
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translate(-600px);
}

.list-item {
  position: relative;
  width: 400px;
}
.item-list {
  display: none;
  position: absolute;
  background-color: grey;
  padding-top: 20px;

  
}
.list-item:hover .item-list {
  display: block;
}
.list-link:hover,
.list-link:focus {
    color: orange;
}
